*
{
    padding : 0;
    margin : 0;
}

/* canvas
{
    display : block;
    width : 100vw;
    height : 100vh;
    background : green;
} */

canvas
{
    display : block;
    width : 100vw;
    height : 100vh;
    background : rgb(110, 194, 228);
/* background : rgb(1, 15, 22);*/
}

.options{
    position : absolute;
    left : 0vw;
    top : 2vh;
    width : 60vw;
    height : 96vh;
    background-color : #f8ff76;
    opacity : 0.3;
}

[type="checkbox"] {
    transform : scale(2.5);
    margin: 40px 15px;
}
